#links{
  text-align: right;
}

#links > a{
  color: black;
  text-decoration: none;
  margin-right: 20px;
  font-size: 12px;
}

#links > a:hover{
  text-decoration: underline;
}

/*in case we cant use the image for the logo
#heading > span {
  padding: 0px;
  font-family: "Futura", sans-serif;
  font-size: 60px;
  text-align: center;
} */


form > #searchbar{
  border-radius: 25px;
  border-color: lightgrey;
  background-image: url('searchbarimage.png');
  background-position: 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
  background-size: 20px;
  border-width: 1px;
  border-color: gainsboro;
  border-style: solid;
  width: 40%;
  height: 45px;
}

#searchbar:hover{
  box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
}

#searchbar:focus{
  box-shadow: 0 1px 0 rgba(0, 0, 0, .15);

}

form > .searchbutton{
  border: 1px solid #F8F8F8;
  margin-top: 20px;
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #F8F8F8;
  color: #282828;
  font-size: 14px;
  width: 150px;
}

form > .searchbutton:hover{
  border-width: 1px;
  border-color: lightgrey;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
  border-radius: 5px;
}


/* formatting for logo placement */
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 145px;
  align: center;
  width: 24%;
  padding: 30px;
}

/*formatting for advanced search*/

/*logo placement*/
.topleft{
  align: margin-right;
  width: 6.5%;
  padding-left: 20px;
  padding-top: 3px;
}

#advheading{
  padding-top: 43px;
  padding-bottom: 20px;
  padding-left: 45px;
  color: #DB4437;
  font-size: 19.5px;
  border-bottom: 2px solid whitesmoke;
  font-family: Arial,sans-serif;
}


#advsearchbutton{
  align: right;
  background-color: #4285F4;
  color: white;
  border-style: solid;
  border-color: #4285F4;
  font-size: 10px;
  font-weight: bold;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  margin-top: 5px;
}

#advtable{
  margin-top: 30px;
  margin-left: 45px;
  width: 80%;
}

.advinput{
  margin-top: 10px;
  border-color: lightgrey;
  width: 100%;
  border-width: 1px;
  border-top: 1px solid darkgrey;
}

.advinput:focus{
  border-color: blue;
  box-shadow: inset;
}

#top3{
  color: dimgrey;
  font-weight: bold;
  font-size: 12px;
}
.firstcolumn{
  padding-bottom: 0px;
  padding-right: 30px;
  font-size: 13px;

}

span{
  padding: 5px;
  font-family: Andale Mono, monospace;
  color: dimgrey;
  font-size: 11px;
}

.secondcolumn{
  width: 600px;
  padding-top: 2px;
}

.thirdcolumn{
  font-size: 12px;
  padding-left: 20px;
  padding-top: 2px;
}