#links{
  text-align: right;
}

#links > a{
  color: black;
  text-decoration: none;
  margin-right: 20px;
  font-size: 12px;
}

/*in case we cant use the image for the logo
#heading > span {
  padding: 0px;
  font-family: "Futura", sans-serif;
  font-size: 60px;
  text-align: center;
} */


form > #searchbar{
  border-radius: 25px;
  border-color: lightgrey;
  background-image: url('searchbarimage.png');
  background-position: 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
  background-size: 20px;
  border-width: 1px;
  border-color: gainsboro;
  border-style: solid;
}

#searchbar:hover{
  box-shadow: 5px 5px 2px dimgrey;
  box-shadow: 5px 5px 2px dimgrey;
}

#searchbar:focus{
  box-shadow: 5px 5px 2px dimgrey;

}

form > #searchbutton{
  border: none;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #F8F8F8;
  color: #282828;
  font-size: 12px;
}

#searchbutton:hover{
  border-width: 5px;
}


/* formatting for logo placement */
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  align: center;
  width: 24%;
  padding: 30px;
}